.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #C19A6B;
}
body {
    color: white;
}
h1 {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    color: white;
}
nav {
    margin-right: 0cm;
    margin-left: 5cm;
}
nav a {
    color: white;
    margin: 50px 60px;
}
nav a:hover {
    color: black;
}
#search {
    margin-right: 40px;
    margin-left: 0cm;
    border-radius: 10px;
    text-align: center;
}