.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    background-color: #C19A6B;
    position: sticky;
    top: 0;
}
body {
    color: white;
}
h1 {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    color: white;
}
#headernav {
    margin-right: 0cm;
    margin-left: 5cm;
}
#headernav #nav1 {
    color: white;   
    margin: 40px 50px;
    text-decoration: none;
}
#headernav #nav1:hover {
    color: black;
}
#search {
    margin-right: 40px;
    margin-left: 0cm;
    border-radius: 10px;
    text-align: center;
}
#products {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 2cm;
    text-shadow: 2px 2px 7px black;
}
.body {
    align-items: center;
    justify-content: center;
    display: flex;
}
.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.box{
    text-align: center;
    text-shadow: 2px 2px 7px black;
}
.box img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    border: 3px solid #fffdd0;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    background-color: #C19A6B;
}
#footernav {
    margin-right: 1cm;
    margin-left: 3cm;
}
#footernav #nav2 {
    color: white;   
    margin: 20px 10px;
}
#footernav #nav2:hover {
    color: black;
}
#logo {
    border-radius: 100px;
    margin: 25px;
    margin-right: 10px;
}
.footerImgs {
    margin-right: 13cm;
}
#icon1, #icon2, #icon3 {
    margin: 10px;
}
#icon1 {
    margin-left: 50px;
}
p {
    margin-left: 2px;
    margin-top: 0;
    font-size: 27px;
}